.nav {
  display: flex;
  padding: 1em 0;
  padding-left: 5%;
  padding-right: 5%;

  &__logo {
    margin-right: 2rem;
  }
}

.navigation {
  &__list {
    list-style: none;
    display: flex;
  }
  &__item {
    display: inline-block;
  }
  &__link {
    padding: 0.5rem 0.5rem;
    margin: 0 1rem;
  }
}

.profile-dropdown__link {
  width: 100%;
  padding: 10px 20px;
  border: 0;
}

.profile {
  margin-left: auto;
  position: relative;
}

.profile-dropdown {
  text-align: center;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(238, 238, 238);
  z-index: 100;
  min-width: 120px;
  color: #333;

  > * {
    display: block;
  }
}
