
<form method="POST" enctype="multipart/form-data">
  <label for="input-name">New Username</label>
  <input
    id="input-name"
    type="text"
    placeholder="New username"
    name="username"
    value="{{ user.username }}"
  >

  <label for="input-email">Email</label>
  <input
    id="input-email"
    type="email"
    placeholder="Email"
    name="email"
    value="{{ user.email }}"
  >
  
  <label for ='avatar'>Profile Picture</label>
  <input 
  id='avatar'
  type="file" 
  name="avatar"
  >

  <label for ='banner'>Banner</label>
  <input 
  id='banner'
  type="file" 
  name="banner"
  >

  <label for ='tagline'>Tagline</label>
  <input 
  id='tagline'
  type="text" 
  name="tagline"
  >
  
  <button type="submit">Edit Profile</button>
</form>
