


{{#each users }}


  <div class="hex" style="background-image: url({{avatar}});">
       <a href="/profile/{{_id}}">{{username}}</a>
  </div>
     {{#if @root.moderator}}
      <a class="text-center" href="/deleteProfile/{{user._id}}">Delete profile</a>
     {{/if}}
     

{{/each}}