


{{#each user as |user|}}


  <div class="hex" style="background-image: url({{user.avatar}});">
       <a href="/profile/{{user._id}}">{{user.username}}</a>
  </div>
     {{#if @root.moderator}}
      <a class="text-center" href="/deleteProfile/{{user._id}}">Delete profile</a>
     {{/if}}
     

{{/each}}