

<div class="feed">
     {{#each users}}
     <div class="user">
          <div class="user__img-wrapper">
               <img src="{{avatar}}" alt="{{username}}'s Icon'" class="user__img">
          </div>
          <div class="user__info">
               {{username}}
          </div>
     {{#if @root.moderator}}
          <a class="btn btn--red" href="/deleteProfile/{{_id}}">Delete profile</a>
     {{/if}}
     </div>


{{/each}}