<div class="hero flex-center-both">
  <div class="hero__wrapper">
    <h1 class="heading heading--1">An anime community to fit your demonic needs!</h1>
    <form class="search" action="/search" method="POST">
      <label for="input-name" class="search__name-label"></label>
      <input name="name" id="input-name" class="search__input-name" placeholder="Search anime..."></input>
      <button class="search__btn" type="submit">Search</button>
    </form>
  </div>
</div>