<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<form class="search" method="POST">
  <label for="search__name-input" class="search__name-label"></label>
  <input name="name" id="search__name-input" class="search__input" placeholder="Search for Anime"></input>
</form>

{{#if anime}}
{{#each anime}}
<p>{{attributes.canonicalTitle}}</p>
{{/each}}
{{/if}}
