.library-table {
  tr {
    display: flex;
    flex-flow: row nowrap;
  }
}

.library-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(8rem, 11rem));
  grid-gap: 2rem;
}

.library-item {
  display: flex;
  flex-direction: column;

  &__poster {
    width: 100%;
    height: auto;
  }
}
