$poster-width: 500px;

.anime-page {
  max-width: 1600px;
  margin: 0 auto;
  padding: 0 6rem;
  &-top {
    grid-column: center-start / sidebar-end;
    position: relative;
    display: inline-block;
    display: flex;
    margin-bottom: 3rem;

    &__left {
      width: $poster-width;
      position: relative;
    }

    &__right {
      margin-left: 3rem;
      display: flex;
      width: 100%;
    }
  }

  &__top-info {
    display: flex;
    padding-left: 1rem;
    width: 100%;
  }
  &__poster-wrapper {
    overflow: hidden;
    border-radius: 3px;
  }

  &__poster {
    width: 100%;
    height: auto;
  }

  &__name {
    font-weight: 600;
    font-size: 3rem;
    position: absolute;
    left: calc(100% + 1rem);
    bottom: 80%;
    color: white;
    white-space: nowrap;
  }

  &__tagline {
    margin-left: auto;
    font-style: italic;
    font-weight: 200;
    color: $color-primary-light-2;
  }
}

.anime-page-main {
  margin-left: calc(#{$poster-width} - 100px);
}

.profile-main {
  grid-column: center-start / center-end;
}

.profile-sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 2 / -1;
}

.profile-library {
  grid-column: center-start / center-end;
}

.profile-post-area {
  grid-column: center-start / center-end;
}

.profile-feed {
  grid-column: center-start / center-end;
}
