*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  // box-sizing: border-box;

  font-size: 100%;

  // font-size: 62.5%; //1rem = 10px; 10px/16px = 62.5%

  // @include respond(big-desktop) {
  //   // width < 1800?
  //   font-size: 75%; //1rem = 12, 12/16 = 75%
  // }

  // @include respond(tab-land) {
  //   // width < 900?
  //   font-size: 56.25%; //1rem = 9px; 9px/16px = 56.25%
  // }

  // @include respond(tab-port) {
  //   // width < 600?
  //   font-size: 50%; //1rem = 8px; 8px/16px = 50%
  // }
}

body {
  max-width: 52em;
  padding: 0 1em;
  margin: 0 auto;
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 2;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  max-width: 100%;
}

.form {
  display: flex;
  flex-direction: column;

  &__input,
  &__textarea,
  &__btn {
    padding: 1em;
    border: 1px solid #333;
    border-radius: 0;
    margin-bottom: 1em;
    font: inherit;
    color: inherit;
    background-color: transparent;
  }
}

input,
textarea,
button,
.btn {
}

textarea {
  min-height: 8em;
  resize: vertical;
}

// ::selection {
//   background-color: $color-primary;
//   color: $color-white;
// }
