$profile-avatar: 100px;

.profile-banner {
  position: relative;
  height: 50vh;
  overflow: hidden;
  background-color: $color-primary-dark;

  &__img {
    position: absolute;
    top: -25%;
    width: 100%;
    height: auto;
    opacity: 0.8;
  }
}

.profile {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 8rem 0 4rem;

  &-top {
    position: relative;
    width: 100%;
    display: flex;

    &__left {
      position: relative;
      display: inline-block;
      width: calc(#{$profile-avatar});
    }
    &__right {
      display: flex;
      padding-left: 1rem;
      width: 100%;
    }
  }

  &__icon-wrapper {
    position: absolute;
    border: 3px solid white;
    top: calc(-#{$profile-avatar} + (#{$profile-avatar} / 3));
    left: 0;
    overflow: hidden;
    border-radius: 50%;
    width: $profile-avatar;
    height: $profile-avatar;
    background-color: $color-primary-dark;
  }

  &__icon {
    width: 100%;
    height: auto;
  }

  &__name {
    position: absolute;
    bottom: 4rem;
    left: calc(100% + 1rem);
    font-weight: 600;
    font-size: 1.6rem;
    color: white;
  }

  &__tagline {
    margin-left: auto;
    font-style: italic;
    font-weight: 200;
    color: $color-primary-light-2;
  }
}
