$profile-avatar: 100px;

.profile-banner {
  height: 40vh;
  overflow: hidden;
  background-position: center center;
  background-size: cover;

  &__img {
  }
}

.profile {
  display: grid;
  grid-template-columns:
    [full-start] minmax(6rem, 1fr) [center-start] repeat(
      6,
      [col-start] minmax(min-content, 14rem) [col-end]
    )
    [center-end]
    [center-end] minmax(6rem, 1fr) [full-end];
  grid-template-rows: repeat(5, min-content);

  &-top {
    grid-column: center-start / center-end;
    position: relative;
    display: inline-block;
    width: $profile-avatar;
  }

  &__top-info {
    display: flex;
    padding-left: 1rem;
    width: 100%;
  }

  &__icon-wrapper {
    position: absolute;
    border: 3px solid white;
    top: -50px;
    left: 0;
    overflow: hidden;
    border-radius: 50%;
    width: $profile-avatar;
    height: $profile-avatar;
    background-color: $color-primary-dark;
  }

  &__icon {
    width: 100%;
    height: auto;
  }

  &__name {
    font-weight: 600;
    font-size: 1.3rem;
  }

  &__tagline {
    margin-left: auto;
    font-style: italic;
    font-weight: 200;
    color: $color-primary-light-2;
  }
}

.profile-main {
  grid-column: center-start / center-end;
}
