// Colors
$color-primary: #ca1a31;
$color-primary-light: #ce8882;
$color-primary-light-2: #f5354f;
$color-primary-dark: #ac0d22;

$color-secondary-light: #ffe4df;
$color-secondary-light-2: #f3eed9;
$color-secondary-dark: #e9c18e;

$color-tertiary-light: #73b2df;
$color-tertiary-dark: #2680ea;

$color-gray-light-1: #f7f7f7;
$color-gray-light-2: #eee;

$color-gray-dark: #798897;
$color-gray-dark-2: #999;
$color-gray-dark-3: #333;

$color-white: #fff;
$color-black: #000;

// Font sizes
$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
$border-radius-small: 3px;

// Cards
$card-padding: 4rem;
